*.[oa]
*.html
*.l[oa]
*.loT
*.so
*~
.*.swp

.deps
.libs

/ChangeLog

/aclocal.m4
/autom4te.cache
/config
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1

Makefile
Makefile.in

hushfile
